<h1><%= @post.title %></h1>
<h3><%= link_to @post.blogger.name, blogger_path(@post.blogger)%></h3>
<p><%= @post.content.split(" ").join(" ")%></p>
<p>Likes: <%= @post.likes %></p>
<%= link_to "+", like_path(@post), method: :post%>
